Repository clambin/pinger: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, build_amd64, build_arm, smoke_amd64, smoke_arm, publish

Path conditions:
  flake8: any of: *.py, libpinger/*.py, tests/*.py
  pytest: any of: *.py, libpinger/*.py, tests/*.py
  build_amd64: any of: *.py, libpinger/*.py, Dockerfile*, .gitlab-ci.yml
  build_arm: any of: *.py, libpinger/*.py, Dockerfile*, .gitlab-ci.yml
  smoke_amd64: any of: *.py, libpinger/*.py, Dockerfile*, .gitlab-ci.yml
  smoke_arm: any of: *.py, libpinger/*.py, Dockerfile*, .gitlab-ci.yml
  publish: any of: *.py, libpinger/*.py, Dockerfile*, .gitlab-ci.yml

move prometheus test to QA (post-build)
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

don't tag w/ commit id since there is no automated way to remove them from the registry
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

only tag (publish) after QA
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

cleanup
  Pipfile
  Pipfile.lock
  libpinger/pinger.py
Due: flake8, pytest, build_amd64, build_arm, smoke_amd64, smoke_arm, publish

cleanup
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

Bump to pimetrics 0.2.0
  Pipfile.lock
  libpinger/pinger.py
  tests/test_pinger.py
Due: flake8, pytest, build_amd64, build_arm, smoke_amd64, smoke_arm, publish

Add sast
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

Badges
  README.md
Due: none

Python 3.8
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.qemu
  Pipfile
  Pipfile.lock
  pinger.py
  src/__init__.py
  src/configuration.py
  src/pinger.py
  src/pingtracker.py
  src/version.py
  tests/test_configuration.py
  tests/test_pinger.py
  tests/test_pingtracker.py
Due: flake8, pytest, build_amd64, build_arm, smoke_amd64, smoke_arm, publish

Python 3.8
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

change wrapping log entry to debug
  src/pingtracker.py
Due: none

gitlab templates + QA before docker build
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  Pipfile
  Pipfile.lock
  README.md
  src/version.py
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

k3s deployment
  .gitlab-ci.yml
  manifests/deployments.yml.template
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

k3s deployment
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

k3s deployment
  manifests/deployment.yml.template
Due: none

staging phase
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

dynamic environment for review apps
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

switch gauges to counters
  Pipfile
  Pipfile.lock
  src/pinger.py
  src/pingtracker.py
  tests/test_pingtracker.py
Due: flake8, pytest

switch gauges to counters
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

switch gauges to counters
  manifests/deployment.yml.template
Due: none

use env file for hosts
  manifests/deployment.yml.template
Due: none

release on tag
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

v1.4
  README.md
  src/version.py
Due: none

test github actions
  .github/workflows/workflow.yml
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish

test github actions
  .github/workflows/workflow.yml
Due: none

test github actions
  .github/workflows/workflow.yml
  .gitlab-ci.yml
  src/pingtracker.py
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish
