Repository clambin/pinger: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

flake8:
  stage: test
  image: python:3.7-alpine
  before_script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install -U flake8
  script:
  - flake8 --max-line-length 120 *.py metric/*.py

pytest:
  stage: test
  image: python:3.7-alpine
  before_script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pipenv
  - pipenv install
  script:
  - cd tests && pytest --cov=../
  after_script:
  - bash <(curl -s https://codecov.io/bash) -t "${CODECOV_TOKEN}"

prometheus:
  stage: test
  image: python:3.7-alpine
  before_script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pipenv
  - pipenv install
  - apk add curl
  script:
  - python pinger.py --port 8080 --interval 1 localhost &
  - PINGPID=$!
  - sleep 2
  ...

build_amd64:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

build_arm:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

smoke_amd64:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

smoke_arm:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - arm
  - rpi
  before_script:
  ...

publish-tagged:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

publish-latest:
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

integrate codecov.io
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

integrate codecov.io
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

integrate codecov.io
  .gitlab-ci.yml
  tests/test_pinger.py
  tests/test_reporter.py
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

integrate codecov.io
  tests/test_promreporter.py
Due: none

integrate codecov.io
  pinger.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

pipfile should ideally only have the runtime dependencies. pytest, code cov shouldb't be there.
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Revert "integrate codecov.io"
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Update test_promreporter.py
  tests/test_promreporter.py
Due: none

remove dev dependencies from runtime env
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.qemu
  Pipfile
  Pipfile.lock
  pinger.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

remove dev dependencies from runtime env
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

remove dev dependencies from runtime env
  Pipfile
  Pipfile.lock
Due: none

remove dev dependencies from runtime env
  .gitlab-ci.yml
  tests/test_promreporter.py
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

remove dev dependencies from runtime env
  .gitlab-ci.yml
  tests/test_pinger.py
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

remove dev dependencies from runtime env
  .gitlab-ci.yml
  pinger.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

unittest for get_configuration
  pinger.py
  tests/test_pinger.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

unittest for get_configuration
  tests/test_reporter.py
Due: none

unittest for get_configuration
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

housekeeping
  tests/ut_metrics/__init__.py
  tests/ut_metrics/test_filereporter.py
  tests/ut_metrics/test_probe.py
  tests/ut_metrics/test_promreporter.py
  tests/ut_metrics/test_reporter.py
Due: none

housekeeping
  .gitlab-ci.yml
  tests/probes.py
  tests/test_filereporter.py
  tests/test_probe.py
  tests/test_promreporter.py
  tests/test_reporter.py
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

housekeeping
  metrics/reporter.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

housekeeping
  metrics/probe.py
  metrics/reporter.py
  tests/test_promreporter.py
  tests/ut_metrics/__init__.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

housekeeping
  tests/test_promreporter.py
Due: none

housekeeping
  .coveragerc
Due: none

Path conditions:
  flake8: any of: *.py, metrics/*.py
  pytest: any of: *.py, metrics/*.py
  prometheus: any of: *.py, metrics/*.py
  build_amd64: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  build_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  smoke_amd64: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  smoke_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  publish-tagged: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  publish-latest: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  github: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
