Repository clambin/pinger: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Path conditions:
  flake8: any of: *.py, metrics/*.py
  pytest: any of: *.py, metrics/*.py
  prometheus: any of: *.py, metrics/*.py
  build_amd64: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  build_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  smoke_amd64: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  smoke_arm: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  publish-tagged: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  publish-latest: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml
  github: any of: *.py, metrics/*.py, Dockerfile*, .gitlab-ci.yml

housekeeping
  .coveragerc
  metrics/probe.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

housekeeping
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

use CSV module to validate FileReporter
  metrics/reporter.py
  tests/test_filereporter.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

housekeeping
  README.md
Due: none

v1.0
  version.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Sync metrics + more unit tests
  metrics/probe.py
  metrics/reporter.py
  pinger.py
  tests/test_filereporter.py
  tests/test_pinger.py
  tests/test_pingtracker.py
  tests/test_probe.py
  tests/test_promreporter.py
  tests/test_reporter.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Sync metrics + more unit tests
  metrics/probe.py
  pinger.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Sync metrics + more unit tests
  .gitlab-ci.yml
  Pipfile.lock
  README.md
  pinger.py
  tests/test_pinger.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Sync metrics + more unit tests
  metrics/probe.py
  pinger.py
  tests/test_pinger.py
  tests/test_probe.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Sync metrics + more unit tests
  tests/test_pinger.py
Due: none

R1.1
  version.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
  metrics/__init__.py
  metrics/probe.py
  metrics/reporter.py
  pinger.py
  tests/probes.py
  tests/process_ut.sh
  tests/test_filereporter.py
  tests/test_pinger.py
  tests/test_pingtracker.py
  tests/test_probe.py
  tests/test_promreporter.py
  tests/test_reporter.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  Pipfile.lock
  pinger.py
  tests/test_pinger.py
  tests/test_pingtracker.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  Dockerfile
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  Dockerfile.qemu
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  .gitlab-ci.yml
  docker-compose.yml
  libpinger/__init__.py
  libpinger/pingtracker.py
  pinger.py
  tests/test_pinger.py
  tests/test_pingtracker.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  libpinger/configuration.py
  libpinger/pingtracker.py
  pinger.py
  tests/test_configuration.py
  tests/test_pinger.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  .gitlab-ci.yml
  libpinger/configuration.py
  libpinger/version.py
  pinger.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  Dockerfile
  Dockerfile.qemu
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  tests/test_pinger.py
Due: none

external pimetrics
  libpinger/pinger.py
  pinger.py
  tests/test_configuration.py
  tests/test_pinger.py
  tests/test_pingtracker.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

external pimetrics
  libpinger/configuration.py
  libpinger/pinger.py
  libpinger/pingtracker.py
  tests/test_configuration.py
  tests/test_pingtracker.py
Due: none

external pimetrics
  libpinger/pinger.py
Due: none

junit
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

docker build caching
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Prep for v1.2
  README.md
  libpinger/version.py
Due: none

Prep for v1.2
  libpinger/pinger.py
  pinger.py
Due: flake8, pytest, prometheus, build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

Prep for v1.2
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github

move prometheus test to QA (post-build)
  .gitlab-ci.yml
Due: build_amd64, build_arm, smoke_amd64, smoke_arm, publish-tagged, publish-latest, github
